<div>
    <img src="https://cdn.shopify.com/s/files/1/2118/1625/products/whitekickstarter1_720x.png?v=1524067513" class="img-responsive center-block" alt="Responsive image">
</div>
<nav class="navbar navbar-inverse  "  role="navigation" align="center">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>
          </div>
        
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" *ngFor="let c of kategorije">
              <li class="pull-left"><a [routerLink]="['kategorija/', c.id]">{{c.naziv}}</a></li>
            </ul>
            <div class="search-container">
                    <form action="/action_page.php">
                      <input type="text" placeholder="Search for Projects.." name="search">
                      <button type="submit"><i class="fa fa-search">submit</i></button>
                    </form>
                  </div>
          </div><!-- /.navbar-collapse -->
      
        </div><!-- /.container-fluid -->
      </nav>