<nav class="navbar navbar-inverse">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PH</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav li">
                <li class="active"><a [routerLink]="['main']">Home</a></li>
                <li><a [routerLink]="['graphicsCards']">Graphics Cards</a></li>
                <li><a href="#contact" [routerLink]="['proccesors']">Proccesors</a></li>
                <li><a>Memory</a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li>

                    <span> <input type="text" placeholder="Search..." [(ngModel)]="name"> </span>
                    <select class="mdb-select md-form colorful-select dropdown-primary" id="category" required
                        [(ngModel)]="id" name="id">
                        <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
                    </select>
                   <span> <a [routerLink]="['filter',id,name]" class="btn btn-primary">Filter</a></span>
                    

                </li>
                <li>
                    <button *ngIf="isAdmin();">Add Pc Component</button>
                </li>
                <li>
                    <a class="btn btn-success " [routerLink]="['shoppingCart']">
                        <i class="fa fa-shopping-cart"></i> Cart
                        <span class="badge badge-light"></span>
                    </a>
                </li>
                <li><a id="logOut" *ngIf="isLoggedIn()" (click)="logout()">LogOut</a></li>
                <li><a id="logOut" [routerLink]="['login']" *ngIf="!isLoggedIn()">LogIn</a></li>


            </ul>

        </div>

    </div>

</nav>
<div class="container" role="main">

    <div class="jumbotron">
        <h1>Project Helper</h1>
        <p>An example of Angular application styled with Bootstrap.</p>
    </div>
</div>