.donacija{
    padding-top: 30px;
    margin-top: 90px;
    border: 2px;
    border-color: black;
    background-color: rgb(212, 226, 226);
}
h3 p{
    color: rgba(160, 160, 119, 0.192);
    font-weight: bold;
}


ul {
    list-style-type: none;
  }

#pitanje{
    font-weight: bolder;
    
}

#odgovor{
    font-style: italic;
    color: black;
}

.faq{
    background-color: rgb(218, 205, 191);
    border: 1px;
    
}